body{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   background-color: aquamarine;
   margin: 50px;
}
input{
    display: block;
    margin: 10px auto;
    padding: 8px;
}
button{
    padding: 8px 20px;

}